[Unit]
Description=Central management daemon for Slurm
After=network.target auditd.service munge.service slurmdbd.service
Requires=munge.service

[Service]
Type=forking
ExecStart=/usr/bin/slurmctld
ExecStop=/bin/kill $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/slurmctld.pid

[Install]
WantedBy=multi-user.target
